<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Granite Project</title>
    <!-- flatly from bootswatch is a themed drop-in replacement for bootstrap -->
    <!--<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="webjars/bootswatch-flatly/4.2.1/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container pt-2">


    <h1>Your Home Page</h1>
    <p th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]!</p>
    <p>You shouldn't see this page unless you're logged in.</p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>



</div>
    <!-- scripts required by bootstrap -->
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.15.0/popper.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- end of scripts required by bootstrap -->
</body>
</html>
