<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Granite Project</title>
    <!-- flatly from bootswatch is a themed drop-in replacement for bootstrap -->
    <!--<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="webjars/bootswatch-flatly/4.2.1/bootstrap.min.css">
</head>
<body>
<div class="container pt-2">


    <div class="row align-items-center justify-content-sm-center">
        <div class="col-sm-auto text-center my-3">
            <img src="public/granite.jpg" class="img-fluid" alt="Granite logo">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-5 text-center">
            <h3><a href="/">Granite</a> Application</h3>
            <small>Version 0.1-SNAPSHOT</small>

            <div class="card">
                <div class="card-header bg-primary text-white">Granite Welcome</div>
                <div class="card-body">

                    <h1 th:text="${greeting}+' '+${name}">Greetings!</h1>

                    <a class="btn btn-primary" th:href="@{/home}" role="button">Go Home!</a>

                </div>
            </div>
        </div>
    </div>


</div>

<!-- scripts required by bootstrap -->
<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.15.0/popper.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- end of scripts required by bootstrap -->
</body>
</html>
